---
import Layout from '../layouts/Layout.astro';
import MasonryGrid from '../components/MasonryGrid.jsx';
import activities from '../data/activities.js';
---

<Layout title="액티비티 - Barcelona Travel Guide 2025" activeTab="activities">
  <div class="sec-head">
    <h2 class="sec-head__title">액티비티</h2>
    <p class="sec-head__sub">강변 자전거 도로와 스페인 광장을 연결하는 세비야 시내 액티비티</p>
  </div>
  <MasonryGrid client:visible items={activities} />
</Layout>
