---
import Layout from '../layouts/Layout.astro';
import ThreeMap from '../components/ThreeMap.jsx';
import mapLocations from '../data/mapLocations.js';
---

<Layout title="3D 지도 - Barcelona Travel Guide 2025" activeTab="map">
  <div class="sec-head">
    <h2 class="sec-head__title">바르셀로나 3D 지도</h2>
    <p class="sec-head__sub">카탈루냐 지형 위에 펼쳐진 추천 장소 &amp; 근교 여행 한눈에 보기</p>
  </div>

  <ThreeMap client:visible locations={mapLocations} />
</Layout>
